# Dockup = Docker + Backup to S3 - Based on: https://github.com/tutumcloud/dockup
AWS_ACCESS_KEY_ID={MY-ACCESS-ID}
AWS_SECRET_ACCESS_KEY={MY-SECRET-ACCESS-KEY}
AWS_DEFAULT_REGION=us-east-1
BACKUP_NAME={Backup-Name-Prefix}
PATHS_TO_BACKUP=/etc/{etcdirs} /home/{user} /var/log/{services}
LOCAL_VOLUMES=" -v /etc:/etc -v /home:/home -v /var/log:/var/log
S3_BUCKET_NAME={existing-S3-bucket-name}
RESTORE=false
